In [35]:
pip install nltk

Requirement already satisfied: nltk in d:\anaconda\envs\tensorflow\lib\site-packages (3.7)
Requirement already satisfied: joblib in d:\anaconda\envs\tensorflow\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in d:\anaconda\envs\tensorflow\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in d:\anaconda\envs\tensorflow\lib\site-packages (from nltk) (2022.4.24)
Requirement already satisfied: click in d:\anaconda\envs\tensorflow\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in d:\anaconda\envs\tensorflow\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (d:\anaconda\envs\tensorflow\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (d:\anaconda\envs\tensorflow\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (d:\anaconda\envs\tensorflow\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (d:\anaconda\envs\tensorflow\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (d:\anaconda\envs\tensorflow\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (d:\anaconda\envs\tensorflow\lib\site-packages)

In [36]:
import nltk

In [37]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Pratyush
[nltk_data]     Upadhyaya\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
#nltk.download()

In [38]:
import pandas as pd

In [39]:
fake=pd.read_csv('Fake-210604-161841.csv')
genuine=pd.read_csv('True-210604-161650.csv')

In [40]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [41]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [42]:
display(genuine.head(10))

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [43]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [44]:
fake['target']=0
genuine['target']=1

In [45]:
display(genuine.head(10))

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",1
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017",1
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017",1

In [46]:
display(fake.head(10))

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [47]:
data=pd.concat([fake,genuine],axis=0)

In [48]:
data=data.reset_index(drop=True)

In [49]:
data=data.drop(['subject','date','title'],axis=1)

In [50]:
print(data.columns)

Index(['text', 'target'], dtype='object')

In [51]:
from nltk.tokenize import word_tokenize

In [52]:
data['text']=data['text'].apply(word_tokenize)

In [53]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [54]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english")

In [61]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [62]:
data['text']=data['text'].apply(stem_it)

In [63]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

In [64]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [65]:
data['text']=data['text'].apply(' '.join)

In [66]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_text=train_test_split(data['text'],data['target'])

In [67]:
display(x_train.head())
print("\n")
display(y_train.head())

41009    jerusalem ( reuter ) - isra prime minist benja...
33768    washington ( reuter ) - the top u.s. militari ...
31720    washington ( reuter ) - member of the republic...
3261     appar , in donald trump s america , you can t ...
43017    brasilia ( reuter ) - a major of the judg on b...
Name: text, dtype: object

41009    1
33768    1
31720    1
3261     0
43017    1
Name: target, dtype: int64

In [70]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidVectorizer(max_df=0.7)

tfidf_train=my_tfidf.fit_transform(x_train)
tfidf_test=my_tfidf.transform(x_test)

NameError: name 'TfidVectorizer' is not defined

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7)

tfidf_train=my_tfidf.fit_transform(x_train)
tfidf_test=my_tfidf.transform(x_test)

In [72]:
print(tfidf_train)

  (0, 87067)	0.09513904988040855
  (0, 30698)	0.12649534314088484
  (0, 81045)	0.1184845678158894
  (0, 79262)	0.0691589301304542
  (0, 22941)	0.11744500228927418
  (0, 8301)	0.1426269548976217
  (0, 12289)	0.07151613404405474
  (0, 70781)	0.14156674517151646
  (0, 12360)	0.11374370315000147
  (0, 81681)	0.04521167734797217
  (0, 32133)	0.1479196715540715
  (0, 22834)	0.10361287850150769
  (0, 68954)	0.14626142718933757
  (0, 81053)	0.11937289645496321
  (0, 21742)	0.29201107515339997
  (0, 15386)	0.18435709836826836
  (0, 38147)	0.04446366431868925
  (0, 68965)	0.10914243349612197
  (0, 21676)	0.12096637366091009
  (0, 42577)	0.1529021410912195
  (0, 88703)	0.08080683508110169
  (0, 80784)	0.16699827764333877
  (0, 24434)	0.1868926233630087
  (0, 59596)	0.12121255592207336
  (0, 1634)	0.10813940110689071
  :	:
  (33672, 64720)	0.07541027372564466
  (33672, 75558)	0.06497594567953743
  (33672, 69431)	0.05548055356936325
  (33672, 81511)	0.05249058758672734
  (33672, 65105)	0.08121735017614834
  (33672, 77611)	0.1569077133189601
  (33672, 48888)	0.07973085545132284
  (33672, 9063)	0.0502453975397783
  (33672, 38614)	0.18811853464083172
  (33672, 79109)	0.09010803046319037
  (33672, 14999)	0.13201556759275787
  (33672, 21861)	0.2521024001893382
  (33672, 89329)	0.04560265804772123
  (33672, 8215)	0.04720604986038338
  (33672, 25043)	0.12274318664884651
  (33672, 28622)	0.0596589917247978
  (33672, 7741)	0.07429199778605132
  (33672, 81646)	0.06806015226704458
  (33672, 38002)	0.037021883074058015
  (33672, 69676)	0.07778700689204132
  (33672, 61436)	0.04887901658188221
  (33672, 90025)	0.08947477723837609
  (33672, 82455)	0.0558058556076492
  (33672, 88703)	0.06909645114358383
  (33672, 69828)	0.04617464800657103

In [73]:
from sklearn.linear_model import LogisticRegression

In [74]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [76]:
model_1=LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1=model_1.predict(tfidf_test)
cr1=accuracy_score(y_text,pred_1)
print(cr1*100)

98.86859688195992

In [77]:
from sklearn.linear_model import PassiveAggressiveClassifier
model=PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [79]:
y_pred=model.predict(tfidf_test)
accscore=accuracy_score(y_text,y_pred)
print('The accuracy of prediction is:',accscore*100)

The accuracy of prediction is: 99.54565701559021